/*! MODIFY DOCS */

@import "../../src-dark/variables2";
@import "../../src/mixins";
@import "../../docs/src/docs";
.docs-content {
    .s-title,
    .s-subtitle {
        color: darken($light-color, 2%);
        &::before {
            background: $bg-color-dark;
        }
    }
}

.section-updates {
    .card {
        color: $body-font-color;
        &.light {
            color: $body-font-color-dark;
        }
    }
}