// Variables and mixins
@import "variables2";
@import "../src/mixins";
@include margin-variant(5, 5px);
@include margin-variant(10, 10px);
$lightV-bg-color-light: darken($bg-color-light, 3%);
@mixin lightV() {
    color: $body-font-color-dark;
    background: $lightV-bg-color-light;
}


/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */

// Reset and dependencies
@import "../src/normalize";
@import "../src/base";
body {
    background: $body-bg;
    color: $body-font-color;
    &.light {
        background: $bg-color-light;
        color: $body-font-color-dark
    }
}

// Elements
@import "../src/typography";
mark {
    @include label-variant($body-font-color-dark, $highlight-color);
}

@import "../src/asian";
@import "../src/tables";
@import "../src/buttons";
@import "../src/forms";
.form-input {
    color: $body-font-color-dark;
    &::placeholder {
        color: $gray-color-light;
    }
}

.form-select {
    color: $gray-color-light;
}

textarea.form-input {
    color: $body-font-color-dark;
}

@import "../src/labels";
@import "../src/codes";
@import "../src/media";
// Layout
@import "../src/layout";
@import "../src/navbar";
.navbar {
    &.fixed {
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 1000;
        color: $body-font-color;
        background-color: $bg-color;
        &>.navbar {
            color: inherit;
            background-color: inherit;
        }
    }
    &.light {
        &.fixed {
            @include lightV;
        }
    }
}

// Components
@import "../src/accordions";
@import "../src/autocomplete";
@import "../src/avatars";
@import "../src/badges";
@import "../src/breadcrumbs";
@import "../src/bars";
@import "../src/cards";
.card {
    color: $body-font-color;
    background: $bg-color-dark;
    &.light {
        @include lightV;
    }
}

@import "../src/chips";
@import "../src/dropdowns";
@import "../src/empty";
@import "../src/menus";
.menu {
    background: $bg-color;
    &.light {
        @include lightV;
    }
}

@import "../src/modals";
.modal {
    &.modal-lg {
        .modal-overlay {
            background: $bg-color-dark;
        }
    }
    &.light {
        &.modal-lg {
            .modal-overlay {
                background: $lightV-bg-color-light;
            }
        }
        .modal-container {
            @include lightV;
        }
    }
}

.modal-container {
    color: $body-font-color;
    background: $bg-color-dark;
    &.light {
        @include lightV;
    }
}

@import "../src/navs";
@import "../src/pagination";
@import "../src/panels";
@import "../src/popovers";
@import "../src/steps";
@import "../src/tabs";
@import "../src/tiles";
.tile {
    .tile-title,
    .tile-subtitle {
        opacity: .5;
    }
}

@import "../src/toasts";
@import "../src/tooltips";
// Utility classes
@import "../src/animations";
@import "../src/utilities";
.divider,
.divider-vert {
    &[data-content]::after {
        color: $gray-color-light;
    }
}